/* 
    Created on : Mar 29, 2018, 9:16:33 AM
    Author     : Vinícius
*/

html, body {
    height: 100%;
}
body {
    background-color: #F7F7F7 !important;
    overflow-x:hidden; 
}
/*LOGIN PAGE START*/ /*LOGIN PAGE START*/ /*LOGIN PAGE START*/ /*LOGIN PAGE START*/ /*LOGIN PAGE START*/
.main {
    height: 80%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.card-login {
    position: static;
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #43281D;
}

.erro-quadrado{
    padding-top: 10px;
    position: static;
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-body-senha, .msg-senha-enviada{
    display: none;
}

.msg-senha-enviada {
    margin: auto;
    text-align: center;
    color: #886D5C;
}

#form-login-senha:focus, #form-login-cpf:focus, #btn-login:focus, #form-senha-email:focus, .btn-menu-admin:focus, input:focus, select:focus {
    border-color: #886D5C !important;
    box-shadow: 0 0 0 0.2rem rgba(136,109,92,.25) !important;
}

.card {
    height: 250px;
}

.img-erro {
    margin: auto;
}

.btn-login {
    background-color: #43281D;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.btn-login:hover, .btn-senha:hover {
    background-color: #6d4231;
}

.btn-senha {
    background-color: #43281D;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.btn-recuperar {
    background-color: #727272;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.btn-recuperar:hover {
    background-color: #545454;
}

.form-login-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #43281D; 
}

#nav-login {
    background-color: #C2BCB0;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #C2BCB0;
}

.loader-usuario, .loader-veiculo, .loader-viagem {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #886D5C; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin: auto;
}

.loader, .loader-login, .loader-modal {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #886D5C; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin: auto;
    display: none;
}

.admin-exibicao-usuario, .admin-exibicao-filtro-usuario, .admin-exibicao-veiculo, #alerta-exibicao-usuario, #alerta-exibicao-veiculo {
    display: none;
}

#alerta-exibicao-usuario, #alerta-exibicao-veiculo {
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*LOGIN PAGE END*/ /*LOGIN PAGE END*/ /*LOGIN PAGE END*/ /*LOGIN PAGE END*/ /*LOGIN PAGE END*/
#nav-bg {
    background-color: rgba(194,188, 176, 0.3);
    border-bottom: 1px solid rgba(194,188, 176, 0.5);

}

.fa-power-off {
    font-size: 14px;
}

#nav-btn { 
    color: #43281D;
    border-bottom: 1px solid rgba(194,188, 176, 0.5);
    display: block;
    text-decoration: none;
    margin: 0px 20px;
}

#nav-toggle {
    background-color: rgba(194,188, 176, 0.5);
}

.row-nav {
    text-align: center;
}
.nav-item active {

}

/* MENU ADMIN START */ /* MENU ADMIN START */ /* MENU ADMIN START */ /* MENU ADMIN START */

.row-btn-admin {
    text-align: center;
}
.btn-menu-admin {
    border: 1px solid rgba(194,188, 176, 0.8);
    background-color: rgba(194,188, 176, 0.5);
    padding: 5px 15px;
    border-radius: 4px;
    color: #43281D;
    cursor: pointer;
}

.btn-menu-admin:hover:not(.btn-admin-active) {
    background-color: rgba(194,188, 176, 0.7);
}

.btn-admin-active {
    background-color: #886D5C;
    color: #F7F7F7;
}

button:focus {
    outline:0;
}

#form-admin-usuario-filtro, #form-admin-veiculo-filtro, #form-detalhes-veiculo-filtro{
    padding: 2px;
}

#label-select-marca {
    padding: 5px;
}

#form-admin-usuario-tipo, #form-admin-veiculo-tipo, #form-incluir-veiculo-marca, #form-detalhes-veiculo-marca, #form-incluir-viagem-tpeso, #form-incluir-viagem-pais-partida, #form-incluir-viagem-estado-partida, #form-incluir-viagem-cidade-partida, #form-incluir-viagem-pais-destino, #form-incluir-viagem-cidade-destino, #form-incluir-viagem-estado-destino, #form-incluir-viagem-tipo, #form-detalhes-viagem-tpeso, #form-detalhes-viagem-pais-partida, #form-detalhes-viagem-estado-partida, #form-detalhes-viagem-cidade-partida, #form-detalhes-viagem-pais-destino, #form-detalhes-viagem-cidade-destino, #form-detalhes-viagem-estado-destino, #form-detalhes-viagem-tipo {
    height: 1.9rem;
    padding: 0;
    padding-left: 10px;
}

#table-admin-usuario, #table-admin-viagem, #table-admin-veiculo, #table-admin-escala-pendente, #table-admin-escala-realizada {
    text-align: center;
}

.col-admin-detalhes:hover {
    cursor: pointer;
}

.btn-admin-adicionar-usuario{
    background-color: #95c48f;
    border-radius: 20px;
    color: white;
    width: 100%;
    cursor: pointer !important;
    border: 1px solid #95c48f !important;
}

.background-checkbox {
    background-color: #aed1a9 !important;
}

.btn-admin-adicionar-usuario-disabled {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #95c48f !important;
    color: #474747;
    width: 100%;
    cursor: not-allowed;
}


.btn-admin-adicionar-usuario:hover {
    background-color: #76bc6d;
}

.btn-admin-escalar-viagem {
    background-color: #5b1901;
    border-radius: 20px;
    color: white;
    width: 100%;
    cursor: pointer !important;
}

.btn-admin-escalar-viagem-disabled {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #5b1901 !important;
    color: #474747;
    width: 100%;
    cursor: not-allowed !important;
}

.btn-admin-ver-usuario{
    background-color: #edc810;
    border: 1px solid #edc810;
    border-radius: 20px;
    color: white;

}

.btn-admin-remover-usuario {
    text-align: center;
    background-color: #d38585;
    border: 1px solid #d38585;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.btn-admin-remover-usuario-disabled {
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #d38585 !important;
    color: #575757;
    width: 100%;
    cursor: not-allowed;
}

.btn-admin-remover-usuario:hover {
    background-color: #c97070;
}

.btn-admin-alterar-usuario {    
    background-color: #99b5e5;
    border-radius: 20px;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.btn-admin-alterar-usuario-disabled {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #99b5e5 !important;
    color: black;
    width: 100%;
    cursor: not-allowed;
}

.btn-admin-alterar-usuario:hover {
    background-color: #759ad6
}

.font-menor {
    font-size: 15px;
}

.secao-admin-usuario-incluir, .secao-admin-escala, .secao-admin-usuario, .secao-admin-usuario-detalhes, .secao-admin-veiculo, .secao-admin-veiculo-incluir, .secao-admin-veiculo-detalhes, .secao-admin-viagem, .secao-admin-viagem-incluir, .secao-admin-viagem-detalhes, .secao-admin-viagem-incluir-endereco, .secao-admin-viagem-detalhes-endereco, .secao-viagem-escalada {
    display: none;
}

.secao-ativa {
    display: block;
}

.inactive {
    background: none;
    color: #43281D;
}

.btn-admin-incluir-usuario-tipo, .btn-admin-escala-tipo .btn-admin-incluir-viagem-tipo, .btn-admin-detalhes-viagem-tipo, .row-admin-escala-tipo {
    text-align: center;
}

#btn-tipo-motorista, #btn-viagem-carga, #btn-viagem-detalhes-carga, #btn-escala-pendente {
    border: 1px solid #243F50;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    cursor: pointer;
}
#btn-tipo-funcionario, #btn-viagem-endereco, #btn-viagem-detalhes-endereco, #btn-escala-realizada{
    border: 1px solid #243F50;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
}

.btn-admin-tipo-active, .btn-escala-active {
    background-color: #243F50;
    color: #FFFFFF;
}

.col-mopp {
}

.btn-crud-usuario:not(.active), .btn-admin-incluir-usuario-tipo, .btn-admin-incluir-viagem-tipo, .btn-admin-detalhes-viagem-tipo, .btn-admin-detalhes-viagem-tipo {
    cursor: pointer;
}

.row-admin-tipo, .row-admin-escala-tipo, .row-admin-viagem, .row-admin-detalhes-viagem {
    margin-bottom: 10px;
}

.row-crud-admin {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#seta-voltar {
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.item-lista-capacitacao {
    position: relative;
    display: block;
    padding: .4rem .9rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.item-lista-capacitacao-ativo {
    background-color: #b8e0b3;
}

.pagination {
    justify-content: center;
}

#pagination-semi .page-item.active .page-link {
    background-color: #43281D;
    border-color: #43281D;
    color: white;
}

#pagination-semi .page-link {
    color: #43281D;
}
#pagination-semi .page-link:focus {
    box-shadow: 0 0 0 0 white;
}

.secao-admin-viagem-txt-partida {
    width: 100%;
    text-align: center;
    /*    border-bottom: 1px solid black;*/
}

.secao-endereco-partida {
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding: 5px;
    background-color: rgba(194,188,176, 0.3);
}

.secao-endereco-destino {
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    padding: 5px;
    background-color: rgba(114,114,114, 0.3);
}

.error-input {
    border: 1px solid rgba(200, 35, 51, 1);
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5) !important;
}
.error-input:focus {
    border: 1px solid rgba(200, 35, 51, 1);
    box-shadow: 0 0 0 0.2rem rgba(200, 35, 51, 0.5) !important;
}

#modal-acoes-body {
    text-align: center;
}

.item-editado{
    color: #709fea;
    font-weight: 700;
}

.item-incluido{
    color: #7ec974;
    font-weight: 700;
}
.item-removido{
    color: #ce6969;
    font-weight: 700;
}

#btn-modal-ok {
    width: 100%;
}

button:focus {
    outline: 0 !important;
}

.page-item.active .page-link {
    z-index: 0 !important;
}

#btn-escala {
    width: 100%;
}

.icone-escala {
    margin-right: 5px;
}

#txt-prox-viagem {
    text-align: center;
}

.card-viagem-motorista {
    -webkit-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.75);
    border-radius: 4px;
    margin: 50px 0;
    transition: all .2s ease-in-out;
}

.card-viagem-motorista:hover{
    -webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    transform: scale(1.01);
}

.card-viagem-motorista .card-title {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 1140px){
    #card-informacoes {
        height: 80%;
    }
}

#card-endereco-partida {
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: rgba(194,188,176, 0.3);
}

#card-endereco-destino {
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(114,114,114, 0.3);
}